

*{
  background-color: #D4DFC7;

}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  padding: 22px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: 0.5s;
  font-size: 20px;
  font-family: 'Bodoni Moda', serif;
  background-color: #725752;
  color: #FEF6C9;
  margin-left: 20px;
}

.tab button:hover {
  background-color: #96C0B7;
}

.tab button.active {
  background-color: #96C0B7;
}

.tabcontent {
  float: left;
  padding: 35px 30px;
  width: 70%;
  border-left: none;
  height: 300px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  display: inline;
  color: #725752;
}

.name{
  font-family: 'Bodoni Moda', serif;
  font-size: 45pt;
  color: #725752;
  margin-left: 35px;

}

.year{
  font-family: 'Bodoni Moda', serif;
  font-size: 20pt;
  color: #878E88;
    margin-left: 35px;

}

.portfolio{
  font-family: 'Bodoni Moda', serif;
  font-size: 50px;
  text-align: right;
  color: #725752;
  margin-right: 35px;
  margin-top: 15px;
  display: inline;

}

.line{
  width:75%;
  height:2px;
  background:#96C0B7; 
}
